.content__wrapper {
  width: 75vw;
  margin-right: 5vw;
  margin-left: 25vw;
}

.content__wrapper h1 {
  font-size: 25px;
  margin-left: 20px;
}

.content__header {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid gray;
}

.hello {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
