.menu__wrapper {
  width: 25vw;
  position: fixed;
}

.menu__body {
  padding: 0;
}

.menu__body li {
  padding: 15px 0;
  margin: 20px 2vw;
  border-bottom: 1px dotted gray;
  border-left: 3px solid gray;
  list-style: none;
}
